Dataset Runners, hiperlink: 
https://www.kaggle.com/datasets/beridzeg45/runners-dataset?resource=download

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"/workspaces/ML/RunnersClassification/Data/runners.csv")
df.head()

   Discipline Gender       Runner  Time Country        Date
0  100 metres    men   Usain Bolt  9.58     JAM  2009-08-16
1  100 metres    men   Usain Bolt  9.63     JAM  2012-08-05
2  100 metres    men   Usain Bolt  9.69     JAM  2008-08-16
3  100 metres    men    Tyson Gay  9.69     USA  2009-09-20
4  100 metres    men  Yohan Blake  9.69     JAM  2012-08-23

In [5]:
df.describe()

               Time
count  67949.000000
mean     445.359741
std      637.131364
min        9.580000
25%       44.850000
50%      118.580000
75%      462.990000
max     1929.990000

In [24]:
df.count()

Discipline    67949
Gender        67949
Runner        67949
Time          67949
Country       67949
Date          67560
dtype: int64

In [ ]:
df.Discipline.unique()

array(['100 metres', '200 metres', '400 metres', '800 metres',
       '1500 metres', '3000 metres', '10000 metres'], dtype=object)

In [7]:
df.Gender.unique()

array(['men', 'women'], dtype=object)

In [8]:
df.Runner.unique()

array(['Usain Bolt', 'Tyson Gay', 'Yohan Blake', ..., 'Misaki Nishida',
       'Yuko Saito', 'Yoko Yagi'], shape=(8381,), dtype=object)

In [9]:
df.Country.unique()

array(['JAM', 'USA', 'KEN', 'Jacobs', 'TTO', 'RSA', 'CHN', 'GBR', 'CAN',
       'Fasuba', 'NAM', 'POR', 'FRA', 'NGR', 'BOT', 'BAR', 'ZIM',
       'Grasse', 'GHA', 'Oghenebrume', 'CUB', 'BAH', 'ANT', 'NED', 'QAT',
       'LBR', 'Harvey', 'Onwuzurike', 'AUS', 'AHO', 'SKN', 'Cissé',
       'Niekerk', 'Johnson', 'CAY', 'JPN', 'Meité', 'SRI', 'CMR', 'BRA',
       'Espinosa', 'ITA', 'Sani', 'TUR', 'OMA', 'COL', 'GAM', 'Zakari',
       'Ndure', 'GER', 'POL', 'CIV', 'IVB', 'Hua', 'PAN', 'da', 'de',
       'SUR', 'ZAM', 'BRN', 'Mohammed', 'IRI', 'Zohri', 'Nascimento',
       'DOM', 'PUR', 'GDR', 'ESP', 'THA', 'UGA', 'BEL', 'UKR', 'KOR',
       'dos', 'Kweku', 'KAZ', 'NOR', 'HUN', 'AZE', 'Barnes', 'SUI', 'NZL',
       'AUT', 'SWE', 'Wyk', 'Bangura', 'MAR', 'ECU', 'Fahmi', 'GUY',
       'GRE', 'Jerrel', 'Afrifah', 'MRI', 'CHI', 'AIA', 'Barros', 'SUD',
       'Herrera', 'Yaqoob', 'BUL', 'CRC', 'SEN', 'SWZ', 'RUS', 'Souza',
       'TPE', 'Sousa', 'Hillaire', 'TKS', 'Reid', 'MNT', 'Eugênio', 'St',
       'BER', 'IRL', 'DMA', 'SAM', 'Ewers', 'Rodrigues', 'Palomeque',
       'SVK', 'Salem', 'Oduduru', 'Silva', 'Grange', 'GRN', 'Balkom',
       'Mostafa', 'LES', 'Jr.', 'FRG', 'ARG', 'CYP', 'Campbell', 'Zahn',
       'MEX', 'Lemos', 'Henrique', 'Plessis', 'CZE', 'KSA', 'Williams',
       'COD', 'Parrela', 'Khamis', 'Leeper', 'Ingvaldsen', 'Santos',
       'Malky', 'Sugath', 'Yahya', 'Al-Bishi', 'Ekhal', 'Oudtshoorn',
       'Kashief', 'ISV', 'Perlaza', 'LCA', 'Coelho', 'SLO', 'KUW',
       'Al-Shammari', 'Abubakr', 'Diouf', 'Henriques', 'Ferreiro',
       'Nyangani', 'Bredau', 'Khawaja', 'Singhapurage', 'Branteghem',
       'URU', 'ISR', 'Nakajima', '05.08.51', 'ALG', 'Walsh', 'Abbas',
       'Kounta', 'VIN', 'TUN', 'Udo', 'DEN', 'ETH', 'BIH', '11.05.92',
       'Yego', 'Kamel', '09.05.78', 'DJI', 'Barbosa', 'Langat',
       'Chirchir', 'Mwengi', 'Singoei', 'BDI', 'VEN', 'SOM', 'Guimarães',
       'LAT', 'Melly', 'Ismail', 'Bala', 'Reina', 'Damme', 'Özbilen',
       'Ali', 'CRO', 'FIN', 'Al-Azemi', 'Diepen', 'Boi', 'Clezio',
       'Sultan', 'Marai', 'Haydar', 'Gouaned', 'BLR', 'Canales', 'Guesse',
       'Heerden', 'Abdalla', 'SRB', 'Musyoka', 'LUX', 'Rosario',
       'González', 'Arriba', '02.06.65', 'Babiker', 'Castillo', 'Smet',
       '30.09.45', 'Hamada', '28.08.59', '06.06.56', 'ROU', 'Kinyor',
       'Manaoui', 'Teresa', 'Benferar', 'Kirochi', 'Marco', 'Rensburg',
       'Helden', 'Rono', 'Abdirahman', 'Al-Zafairi', 'TAN', 'Cerezo',
       'Bouchayby', 'Paes', 'Hassan', 'Bakhet', 'Redolat', '28.02.69',
       'Dios', 'Al-Badri', 'Ayansa', 'Chenini', '26.09.78', 'Al-Daran',
       'Grice', 'Høsteland', 'Moujahid', 'Zijl', 'Amine', 'Gomes', 'HAI',
       'Villiers', 'Singh', 'Riel', 'Mayanja', '17.01.73', 'Prates',
       'Napoli', 'EST', 'Higuero', 'Akkar', 'IND', 'Díaz', 'Adam',
       '23.09.52', 'Shojaei', 'ERI', 'Baye', 'Perez', 'Guerrouj', 'Komen',
       'Nordås', 'Bashir', 'Abascal', 'Andersen', 'Kemboi', 'Tanui',
       'Shahween', 'Bakkali', 'Maru', 'Ndiwa', 'Ghazi', 'Shaheen', 'Kaam',
       'Maina', 'Sheik', 'Basir', 'Mohamed', 'Deventer', 'Lobalu',
       '30.10.92', 'Mouhyanin', 'PER', 'Musab', 'El', 'GUA', 'der',
       'Warsama', 'Maataoui', 'Abad', 'Carreira', 'Thamer', 'AND',
       'Maria', 'Koskei', 'Bachir', 'Jihnaoui', 'Kabbouri', 'Nabein',
       'Hjorth', 'Martín', 'Goumri', '31.03.52', 'Abdillahi', 'Jawher',
       'Abdurahman', 'Heras', 'Acosta', 'Aden', 'SSD', 'Kamal', 'Torre',
       'Esteso', 'Hansen', 'Ibrahim', 'Himer', 'Kibet', 'Murigi',
       'Hertoghe', 'Khayami', 'Malderen', 'LTU', 'MDA', 'Toit', 'Berg',
       'Edman', 'Ghazali', 'Jesús', 'Mageka', 'Kaupang', 'Kovács',
       'Hocine', 'Corrales', 'Barrios', 'Pinto', 'Alves', 'ALB', 'Saroj',
       'del', 'Myhre', 'Bitok', 'Ashak', 'Koech', 'Wijngaert',
       'Mphahlele', 'Bekele', 'Soi', 'Lahssini', 'Mutahi', 'Negera',
       'Kipketer', 'Rasheed', 'Amri', 'Zewdie', 'Kipngetich', 'Kipkemboi',
       '10.09.84', 'Martinez', 'Adem', 'Nasri', 'Sitonik', 'Kimai',
       'Lawrence', 'Betona', 'RWA', 'Galván', 'Ndambiri', 'Korir',
       'Musembi', 'II', 'Menjo', 'Ereng', 'Afringi', 'Al', 'Peñas',
       'Marchi', 'la', 'do', 'Dijck', 'Rufo', 'Al-Asmari', 'Rosa',
       'Obaid', 'Shebto', 'Jowhar', 'Kimondo', 'Zaman', 'Al-Amri',
       'Kariuki', 'Halvorsen', 'Paul', 'Mezngi', 'Kibrab', 'Lillesø',
       '11.09.52', 'Campos', 'Dirieh', '05.02.54', 'Thuku', 'Albentosa',
       'Kipkurui', '22.02.60', 'Nard', 'Al-Joud', 'Dahl', 'Guen',
       '05.05.66', 'Kipchirchir', 'Buono', 'Misoi', 'Geyte', 'Barreto',
       'Magnússon', 'Tiouali', 'Kipyego', 'Mathathi', 'Ejigu', 'Abdosh',
       'Ashaw', 'Benti', 'Kimutai', 'Weldeslasie', 'Muigei',
       'Quintanilla', 'Munyi', 'Wanjiku', 'Naasi', 'Wangari', 'Ndirangu',
       'Moen', 'Lemeteki', 'Guangul', 'Bett', 'Talel', 'Hachimi', 'Eisa',
       'Dazza', 'Ngimba', 'Kemei', 'Kipngeno', 'Bienenfeld', 'Saidamu',
       'Kitwara', 'Ndiku', 'Bowen', 'Pérez', 'Ruto', 'Romero', 'Shauri',
       'Aila', 'Cortés', 'Kate', 'Zerihun', 'Mulinga', 'Kangoo', 'Muthee',
       'Kipkorir', 'Gady', '14.04.93', 'Rmeteiiki', '01.02.61', 'Adán',
       'Kamzee', 'Arusei', 'Cheptot', 'Garcia', 'KGZ', 'Salgado',
       'Castella', 'Al-Hamdah', '08.05.45', 'Kumar', 'Too', 'Kipruto',
       'Sibhatu', 'Madonna', 'Al-Dawoodi', 'PLE', 'Geay', 'Muchunu',
       'Kiplagat', 'Kipkirui', 'Khaled', 'Chouri', 'Costa', 'Mesfin',
       '14.10.45', 'Mutai', 'Haan', 'Hoof', '16.01.73', 'Lillefosse',
       'Aziz', 'Lebo', '13.12.62', 'Nasser', 'Haso', '23.06.47', 'Sulle',
       'Trujillo', 'Karanja', 'GEO', '01.10.84', 'Skjeseth', 'Kiptoo',
       'den', 'Adani', 'Faniel', 'Medveds', 'ANG', 'Kalai', 'Jouda',
       'Hest', 'Harroufli', 'Tum', 'Tesfamriam', 'Hooste', 'Lokir',
       'Chitachen', 'Rogarth', '12.12.80', 'Reviejo', 'Mindez', 'Vogel',
       'Alubou', 'Roy', 'Hassouni', 'Soare', 'Pallec', 'Yatich', 'Otmani',
       'Chebor', 'PRK', 'Chuela', 'Rotich', '06.04.82', 'Businei',
       '18.05.94', '22.09.93', '20.11.61', 'Mwikya', '22.05.51',
       '06.07.54', 'Amogne', 'Ben', 'MLT', 'Lou-Smith', 'Ponte',
       'Bittaye', '27.12.86', 'EGY', 'Milama', 'Godbless', 'UZB',
       '14.10.86', 'Klerk', 'Fort', 'NIG', 'Heer-Murphy', 'Naser', 'IRQ',
       'Pereira', '09.05.68', 'McPherson', 'Quirot', 'Trotter', 'Thiam',
       '08.03.99', 'CHA', 'Manuel', 'Duporty', 'Figueiredo', 'Fall',
       'Baynes', '01.02.81', 'George', 'Mbongo', 'Witte', '10.09.88',
       'MOZ', 'Langen', 'Almanza', 'Bell', 'Manedo', 'Martínez', 'Jamal',
       'Hammou', 'Dan', 'TJK', 'Hamilton', 'Paula', 'Gaspar', 'Klocová',
       'Cooper', 'Piccione', 'BEN', 'Matisya', 'Pierre', 'McGee',
       'Selsouli', 'Bobocea', 'Mäki', 'Fonseca-Wöllheim', 'Bovim',
       'Grøvdal', 'Plumer', 'Hulst', 'UAE', 'Fuentes-Pila', 'Menéndez',
       'Alptekin', '21.12.93', 'Gateri', 'Kamch', '07.06.67', 'Kiprop',
       '05.08.95', 'Wanjiru', 'Efurd', 'Salpeter', 'Dias', 'Brea', 'Gedo',
       'Hilaire', 'Temesgen', 'Chelimo', 'Es', 'Abeye', 'Saeed',
       'Ferreira', 'Mokonin', 'Félix', 'Vos', 'Rodríguez', 'Lauck',
       'Rebitu', 'Larraga', 'Machado', 'Matanga', 'Oliveira', 'Gesabwa',
       'Muluhabt', 'Boulet', 'Habtegebrel', 'Morató', 'Reuck', 'Rocha',
       '19.04.57', 'Lent', 'Kiragu', '09.09.93', 'Blunk', 'Rabo'],
      dtype=object)

In [23]:
print(df.Date.unique())
"Maior Data:", df.Date.loc[df.Date.index.max()], "Menor Data:", df.Date.loc[df.Date.index.min()]

['2009-08-16' '2012-08-05' '2008-08-16' ... '2019-05-09' '2017-09-22'
 '1991-10-06']

('Maior Data:', '2019-07-25', 'Menor Data:', '2009-08-16')

Na corrida de 100 metros, qual o tempo minimo, maximo e médio dos atletas de cada categoria?

In [39]:
base_100m_men = df[(df.Gender == "men") & (df.Discipline == "100 metres")]
base_100m_women = df[(df.Gender == "women") & (df.Discipline == "100 metres")]

print(f" O tempo máximo para um atleta feminino percorrer 100 metros foi de : {base_100m_women.Time.max()}")
print(f" O tempo mínimo para um atleta feminino percorrer 100 metros foi de : {base_100m_women.Time.min()}")
print(f" O tempo médio para um atleta feminino percorrer 100 metros foi de : {base_100m_women.Time.median()}")
print("----------------------------------------------------------------------------------------------------")
print(f" O tempo máximo para um atleta masculino percorrer 100 metros foi de : {base_100m_men.Time.max()}")
print(f" O tempo mínimo para um atleta masculino percorrer 100 metros foi de : {base_100m_men.Time.min()}")
print(f" O tempo médio para um atleta masculino percorrer 100 metros foi de : {base_100m_men.Time.median()}")

 O tempo máximo para um atleta feminino percorrer 100 metros foi de : 11.09
 O tempo mínimo para um atleta feminino percorrer 100 metros foi de : 10.49
 O tempo médio para um atleta feminino percorrer 100 metros foi de : 11.01
----------------------------------------------------------------------------------------------------
 O tempo máximo para um atleta masculino percorrer 100 metros foi de : 10.09
 O tempo mínimo para um atleta masculino percorrer 100 metros foi de : 9.58
 O tempo médio para um atleta masculino percorrer 100 metros foi de : 10.03