Dataset Runners, hiperlink: 
https://www.kaggle.com/datasets/beridzeg45/runners-dataset?resource=download

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"/workspaces/ML/RunnersClassification/Data/runners.csv")
df.head()

   Discipline Gender       Runner  Time Country        Date
0  100 metres    men   Usain Bolt  9.58     JAM  2009-08-16
1  100 metres    men   Usain Bolt  9.63     JAM  2012-08-05
2  100 metres    men   Usain Bolt  9.69     JAM  2008-08-16
3  100 metres    men    Tyson Gay  9.69     USA  2009-09-20
4  100 metres    men  Yohan Blake  9.69     JAM  2012-08-23